.menu {
    position: sticky;
    -webkit-position: sticky;
    top: 0; /* required */
    z-index: 5;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    padding: 20px;
    margin: unset;
    transition: all 2.5s ease-out;
    -webkit-transition: all 2.5s ease-out;
}

.menu ul li:hover, .menu ul li:active {
    background-color: #d81143;
}

.navigation { /* Evita que la barra de navegación quede sobre el título de la sección */
    margin-top: 60px;
    padding-top: 60px;
    margin-bottom: unset;
    padding-bottom: unset;
}

.openBurgerMenu {
    display: none;
}