.sticky { /* 'position: -webkit-sticky' in Safari doesn't work in all cases */
    position: fixed;
    top: 0;
    padding: unset;
    width: inherit;
}

@media all and (max-width: 440px) {
    .sticky {
        width: initial;
    }
}