@font-face {
    font-family: 'LeagueSpartan';
    src: url('../assets/fonts/LeagueSpartan-Bold.otf');
    }

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.otf');
    }


* {/* estilos generales */
    margin: 10px;
    padding: 10px;
    /*box-sizing: border-box;*//* para que las cajas no se desborden unas con otras */
}

html, body, .root {
    margin-left: unset;
    margin-right: unset;
    padding-left: unset;
    padding-right: unset;
}

body {
    background-color: black;
}

.root {
    display: flex; /* por defecto: uno al lado del otro */
    justify-content: center;
}

.kois {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.koi {
    height: 235px;
    max-width: 100%;
    margin-left: unset;
    margin-right: unset;
    padding-left: unset;
    padding-right: unset;
}

.cherryBlossomContainer {
    width: 10vw;
    height: 80vh;
	display: flex;
    justify-content: center;
    position: relative;
    padding: unset;
    margin: unset;
}

.cherryBlossom {
    width: 40vw;
    height: 50vh;
    display: flex;
    position: relative;
    padding: unset;
    margin: unset;
}

#cherryBlossom12, #cherryBlossom11, #cherryBlossom10, #cherryBlossom9, #cherryBlossom8, #cherryBlossom7, #cherryBlossom6, #cherryBlossom5, #cherryBlossom4, #cherryBlossom3, #cherryBlossom2, #cherryBlossom1 {
    opacity: 0;
}

.flower {
    height: 20px;
    width: 20px;
}

#content {
    background-color: #3E3E40;
    margin: unset;
    padding: unset;
    width: 60%;
}

.principalText {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.principalTitle {
    letter-spacing: 0.031em;
    font-size: 4.28584375em; /*68.5735px;*/
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    white-space: normal;
}

.menu ul, .skillsContainer {
    display: flex;
    justify-content: space-between;
}

.subTitle {
    line-height: 1.26;
    letter-spacing: 0.029em;
    font-size: 31.4295px;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;

}

.principalPhrase {  
    line-height: 1.58;
    letter-spacing: 0.012em;
    font-size: 1.96434375em; /*31.4295px;*/
    text-align: center;
    font-weight: 800;
    white-space: normal;

}

.principalTitle, .subTitle {
    color: #F2C5BB;
    font-family: 'LeagueSpartan';
}

.subTitle {
    text-align: center;
}

.projectName, .project {
    display: flex;
}

.presentation {
    display: block;
}

.profilePictureContainer {
    display: flex;
    justify-content: center;
}

.profilePicture {
    width: 70%;
    max-height: 300px;
    margin: unset;
    padding: unset;
}

.principalPhrase, .resumenText {
    color: #BF6F6F;
    font-family: 'Montserrat';
}

.resumenText {
    white-space: normal;
    word-break: break-word;
    text-align: left;
    font-size: 18.5px;
}

.skillsContainer {
    flex-wrap: wrap;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #d81143;
    border: 2px solid #d81143;
    color: #fff;
    text-align: center;

    font-weight: 400;
    font-size: 34.2867px;
    text-transform: uppercase;
    font-family: 'LeagueSpartan';
}

.projectImg {
    flex: 6;
}

.pImg {
    height: 235px;
    width: 235px;
}

.projectResume {
    flex: 15;
}

footer, .menu {
    background-color: #8C0327;
    font-size: 14.2861px;
    letter-spacing: 0.187em;
    font-family: 'Montserrat';
    color: #fff;
    margin: unset;
    padding: unset;
    border: solid #8C0327;
}

.footerContent {
    display: flex;
    justify-content: right;
}

.contactIcon {
    font-size: 50px;
    margin: unset;
    padding: unset;
    
}

link {
    text-decoration: none; /* doesn't work */
    margin: unset;
    padding: unset;
}

.contactText {
    margin: unset;
    padding: unset;
    justify-content: space-between;
    flex-direction: row;
}